<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarWorkshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.css"/>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img src="~/images/workshop-logo.svg" class="img-fluid" style="max-height:25px" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CarWorkshop</a>
                <form asp-action="ChangeCookieLanguageToEn" asp-controller="Home">
                    <input type="image" src="~/images/uk-flag.svg" alt="Submit" class="img-fluid border border-secondary" style="max-height:25px" width="25" />
                </form>
                <form asp-action="ChangeCookieLanguageToPl" asp-controller="Home">
                    <input type="image" src="~/images/poland-flag.svg" alt="Submit" class="img-fluid border border-secondary" style="max-height:25px" width="25" />
                </form>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CarWorkshop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
