@model IEnumerable<CarWorkshop.Models.Car>

@{
    ViewData["Title"] = "Index";
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Brand</th>
            <th scope="col">Licence Plates</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Car car in Model)
        {
            <tr>
                <td>@car.Brand</td>
                <td>@car.Plates</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@car.Id">Repair</a>
                </td>
            </tr>
        }
    </tbody>
</table>
