
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using CarWorkshop.Data
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext Context

<div class="text-center">
    @if (User.IsInRole("Customer"))
    {
        <h2>
            <a asp-controller="Car"
               asp-action="Create">
            Add car!
            </a>
        </h2>

        <h2>
            <a asp-controller="ApplicationUser"
            asp-action="Cars">
                Check your cars!
            </a>
        </h2>
    }

    @if (User.IsInRole("Mechanic"))
    {
        <h2>You have @Context.Cars.Where(c => c.Repaired == false).Count() cars that are waiting for a repair!</h2>
    }
</div>
